<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #124e68;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarDefault">
            <ul class="navbar-nav mr-auto">

                <a class="navbar-brand" href="{% url 'meetings-list' %}">
                    <img src="{% static 'USERS/SOS.PNG' %}" width="60" height="35">
                </a>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'meetings-list' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'meeting-create' %}">Start a Study Session!</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'meeting-search' %}">Search Meeting</a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i><img class="rounded-circle prof-img-navbar" src="{{ user.profile.image.url }}"></i>
                        <i class="fas fa-user"></i>{{ user.first_name }} {{ user.last_name }}

                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </li>
            </ul>



        </div>
    </nav>